<%- include('../includes/header.ejs')%>
<%- include('../includes/navbar.ejs')%>
<h1>Hire ,Pagedfsdffgdf</h1>
<h1>Hire ,Pagedfsdffgdf</h1>
<h1>Hire ,Pagedfsdffgdf</h1>
<h1>Hire ,Pagedfsdffgdf</h1>    
<%- include('../includes/footer.ejs')%>